In [53]:
"""
https://kgptalkie.com/deep-learning-with-tensorflow-2-0-tutorial-building-your-first-ann-with-tensorflow-2-0/
"""

'\nhttps://kgptalkie.com/deep-learning-with-tensorflow-2-0-tutorial-building-your-first-ann-with-tensorflow-2-0/\n'

In [73]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score

# Prepering data

In [59]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [60]:
X = dataset.drop(["RowNumber", "CustomerId", "Surname", "Exited"], axis=1)
Y = dataset.Exited

X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [61]:
"""
Transform Labels into numbers
"""
label1 = LabelEncoder()
X['Geography'] = label1.fit_transform(X['Geography'])
label2 = LabelEncoder()
X['Gender'] = label2.fit_transform(X['Gender'])

#x = label1.inverse_transform(X['Geography'])
#print(x)

In [62]:
"""
One hot encoding, for categorical fetures (not boolean).

Droping Geography_0 - we dont need it... 
(Geography_1=0 + Geography_2=0 => Geography_0=1)
"""

X = pd.get_dummies(X, drop_first=True, columns=['Geography'])
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_1,Geography_2
0,619,0,42,2,0.00,1,1,1,101348.88,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,1

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)

In [65]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Build ANN

In [83]:
model = Sequential()
model.add(Dense(X.shape[1], activation='relu', input_dim = X.shape[1]))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [84]:
model.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=['accuracy'])

In [85]:
model.fit(X_train, y_train.to_numpy(), batch_size = 10, epochs = 10, verbose = 1)

Epoch 1/10
800/800 [==============================] - 1s 752us/step - loss: 0.4969 - accuracy: 0.7880
Epoch 2/10
800/800 [==============================] - 1s 720us/step - loss: 0.4164 - accuracy: 0.8248
Epoch 3/10
800/800 [==============================] - 1s 735us/step - loss: 0.3807 - accuracy: 0.8455
Epoch 4/10
800/800 [==============================] - 1s 770us/step - loss: 0.3420 - accuracy: 0.8611
Epoch 5/10
800/800 [==============================] - 1s 791us/step - loss: 0.3465 - accuracy: 0.8610
Epoch 6/10
800/800 [==============================] - 1s 803us/step - loss: 0.3309 - accuracy: 0.8679
Epoch 7/10
800/800 [==============================] - 1s 766us/step - loss: 0.3444 - accuracy: 0.8598
Epoch 8/10
800/800 [==============================] - 1s 777us/step - loss: 0.3262 - accuracy: 0.8687
Epoch 9/10
800/800 [==============================] - 1s 773us/step - loss: 0.3267 - accuracy: 0.8693
Epoch 10/10
800/800 [==============================] - 1s 808us/step - loss: 0.3268 - accuracy: 0.8691

In [86]:
y_pred = model.predict_classes(X_test)

/Users/orshulrufer/opt/anaconda3/envs/deeplurning/lib/python3.7/site-packages/tensorflow/python/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

In [87]:
model.evaluate(X_test, y_test.to_numpy())

63/63 [==============================] - 0s 756us/step - loss: 0.3480 - accuracy: 0.8565

[0.3480321168899536, 0.8565000295639038]

In [88]:
confusion_matrix(y_test, y_pred)

array([[1533,   60],
       [ 227,  180]])

In [89]:
accuracy_score(y_test, y_pred)

0.8565